.figure-2-1{
    display: flex; 
    flex-direction: column; 
    align-items: center ;
    justify-content: center;
    height: 100vh; 
    gap: 20px ; 
}

.main-image-2-1{
    width: 700px ; 
    position: relative ; 
}   

.legend-2-1{
    width: 600px ; 
    font-size: 13px; 
    text-align: justify;
    text-justify: inter-word;
    padding-right: 40px ; 
}

.interact-2-1{
    font-size: 13px; 
    text-align: justify;
    text-justify: inter-word;
    color:darkred
}

.line-2-1{
    position: absolute ; 
    left: 6.9% ; 
    top: 2.2% ; 
    width: 41.5%;
    height: 45% ; 
    color: #7fffd477
}

.slider-container1-2-1{
    left: 56.7% ; 
    top: 23.8% ; 
    height: 17.9%;
    width: 35.8% ; 
    position: absolute ; 
    /* background-color:lightblue */
}

.slider-container2-2-1{
    left: 56.7% ; 
    top: 53.8% ; 
    height: 17.9%;
    width: 35.8% ; 
    position: absolute ; 
    /* background-color:lightblue */
}